//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
           &kp Q             &kp W               &kp E       &kp R           &kp T          &kp Y            &kp U            &kp I       &kp O                &kp P
           &hm LEFT_SHIFT A  &hm LEFT_CONTROL S  &hm LGUI D  &hm LEFT_ALT F  &kp G          &kp H            &hm RIGHT_ALT J  &hm RGUI K  &hm RIGHT_CONTROL L  &hm RIGHT_SHIFT SEMICOLON
&lt 1 ESC  &kp Z             &kp X               &kp C       &kp V           &kp B          &kp N            &kp M            &kp COMMA   &kp DOT              &kp SLASH                  &lt 1 APOSTROPHE
                                                 &caps_word  &kp TAB         &lt 3 SPACE    &lt 2 BACKSPACE  &kp ENTER        &kp DELETE
            >;
        };

        Base_noHRM {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &kp A   &kp S   &kp D   &kp F   &trans    &trans  &kp J   &kp K   &kp L   &kp SEMICOLON
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans         &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Sym {
            bindings = <
           &kp N1                &kp N2                  &kp N3                     &kp N4                          &kp N5       &kp N6       &kp N7                   &kp N8             &kp N9                    &kp N0
           &hm LEFT_SHIFT TILDE  &hm LEFT_CONTROL UNDER  &hm LGUI LEFT_PARENTHESIS  &hm LEFT_ALT RIGHT_PARENTHESIS  &kp EQUAL    &kp CARET    &hm RIGHT_ALT AMPERSAND  &hm RGUI ASTERISK  &hm RIGHT_CONTROL DOLLAR  &hm RIGHT_SHIFT PIPE
&kp GRAVE  &kp EXCLAMATION       &kp MINUS               &kp LEFT_BRACE             &kp RIGHT_BRACE                 &kp PLUS     &kp AT_SIGN  &kp LEFT_BRACKET         &kp RIGHT_BRACKET  &kp HASH                  &kp BACKSLASH         &kp PERCENT
                                                         &trans                     &trans                          &trans       &trans       &trans                   &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &kp A  &kp A           &kp A             &kp A       &kp A                &kp SLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &to 5
        &kp A  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT  &kp C_VOLUME_UP      &kp LEFT   &kp DOWN      &kp UP        &kp RIGHT     &kp BACKSPACE
&trans  &kp A  &kp A           &kp A             &kp C_MUTE  &kp C_VOLUME_DOWN    &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0   &to 4
                               &trans            &trans      &trans               &trans     &trans        &trans
            >;
        };

        mouse {
            bindings = <
       &none  &none           &none           &none            &none     &none           &none           &none         &none            &none
       &none  &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &none     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
&none  &none  &none           &mmv MOVE_DOWN  &none            &none     &none           &mkp MB4        &mkp MB5      &none            &none  &to 0
                              &trans          &trans           &trans    &mkp MB1        &mkp MB2        &mkp MB3
            >;
        };

        game {
            bindings = <
         &kp ESC    &kp Q  &kp N1  &kp E      &kp R        &kp ESC  &none  &none  &none  &none
         &kp LSHFT  &kp A  &kp W   &kp D      &kp F        &kp TAB  &none  &none  &none  &none
&kp TAB  &none      &kp Z  &kp S   &kp C      &kp V        &none    &none  &none  &none  &none  &none
                           &none   &kp LCTRL  &kp SPACE    &none    &none  &none
            >;
        };
    };
};
